<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>

    <body>
        <!--Página alumno-materia -->
        <div data-role="page" id="asignar_materias" data-dom-cache="false">
            <!--Encabezado-->
            <header data-role="header" data-theme="b">
                <a href="index.html" data-icon="back" data-iconpos="notext"> </a>
                <h1>Asignar Materias</h1>
            </header>

            <!--Contenido-->
            <section data-role="content">
                    <label> Seleccione el Alumno:</label>
                    <select id="comboAlumnos">                                        
                    </select>

                    <form id="fieldMaterias">
                    </form>
            </section>
        </div>
    </body>

    <script>
    </script>
</html>