<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>APP ID-00</title>
        
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" ></script>
     </head>

    <body>
        <!--Página Principal-->
        <div data-role="page" id="index">
            
            <!--Menú Lateral Principal-->
            <nav data-role="panel" id="menu" data-display="overlay">
                <h2>Men&uacute Principal</h2>
                <ul data-role="listview">
                    
                    <li data-role="list-divider">Alumnos</li>
                    <li><a href="alta_alumno" rel="external">Dar de alta Alumno</a></li>
                    <li><a href="asignar_materias" id="registrar_alumno_materia" rel="external">Asignar Materias</a></li>
                    <li><a href="actualizar_alumno" rel="external">Editar Alumno</a></li>                 
                    <li data-role="list-divider">Materias</li>
                    <li><a href="registrar_materia" rel="external">Registrar Materia</a></li>
                    <li><a href="editar_materia" id="editar_materia" rel="external">Editar Materia</a></li>
                </ul>
            </nav>
            
            <!--Encabezado-->
            <header data-role="header" data-theme="b">
                <a href="#menu" data-icon="bars" data-iconpos="notext"> </a>
                <h1>APP ID-00</h1>
            </header>    
            
            <!--Contenido-->
            <main data-role="content">
            	
            </main>


            <!--Pie de página-->
            <footer style="text-align:center" data-role="footer" data-theme="b" data-position="fixed" >
                <small>2019 &copy; APP'S </small>
                <br />
                <small>Application.</small>
            </footer>
        </div>
    </body>
    <script>
    'use strict'
    window.addEventListener('load', () => {
        
    });
    
    
    
    
    
      
    
  
    
    //desplegarAlumnos
    let desplegarAlumnos = (lstAlumnos) => {
        /**
        * Desplegará los alumnos que esten registrados en un componente combox.
        */
        let otnAlumno = ``;
        
        let i = 0 ;
        lstAlumnos.forEach(alumno => {
            if (i == 0)  otnAlumno += `<option value="0">SELECCIONE UN ALUMNO.</option>`
            let nombreCompleto = alumno.nombre + " " + alumno.apellidoPaterno + " " + alumno.apellidoMaterno;
            otnAlumno += `<option value="${alumno.id_alumno}">${nombreCompleto}</option>`
            i ++;
        });
        let sltAlumnos = `<select>${otnAlumno}</select>`;
        let comboAlumnos = document.querySelector("#comboAlumnos");
        comboAlumnos.innerHTML = sltAlumnos;
    }
    	</script>  
    </body>
</html>